@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

/*default override*/
a, a:hover {
    text-decoration: inherit;
    color: inherit;
}

html { 
    scroll-behavior: smooth;
}
* {
    font-family: 'Roboto', sans-serif;
}
ul {
    text-decoration: none;
    list-style: none;
}

hr {
    position: relative;
    border: none;
    margin: 0;
    height: 1px;
    background: #ccc;
}
h1, h2, h3, h4, h5 {
    
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
}

.form-control {
    border-color: #ccc !important;
}


/*margin and padding*/
footer {
    padding-top: 20px;
}
section{
    padding: 50px;
}
.spacer{
    padding:25px;
}
.sharebtn{
    padding: 20px 0;
}
.newsletter {
    margin-top: 120px;
}
.logo {
    padding-top: 10px;
}
.btn {
    margin: 5px;
}


.vpad {
    margin: 2em 5px;
}



/*navigation styling*/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
     background-color: #f1c40f;
     text-transform: uppercase;
}




/*account page styling*/
.tab-container{
    border: 1px solid #ccc;
    border-radius: 10px;
    min-height: 200px;
    padding:20px;
}
#edit, #delete, #restore, #email, #passwords {
    display: none;
}
.aboutArea {
    max-height: 300px;
    min-height: 100px;
}
.cfl {
    margin: 0 17px;
}
.accountimg {
    margin-bottom: 10px;
}
.custom-select {
    min-width: 20rem;
}
.accountFav {
    padding: 0 15px 15px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.accountFav img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}


/*animated section styling*/
.animated {
    overflow:hidden;
    height: 300px;
    width: 100%;
    color: #333;
    background-color: #efefef;
}
.animatedsmall {
    overflow:hidden;
    height: 80px;
    width: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 600% 600%;
    -webkit-animation: Gradient 60s ease infinite;
    -moz-animation: Gradient 60s ease infinite;
    animation: Gradient 60s ease infinite;
}
@-webkit-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.animated-container{
    /*border: 3px solid #fff;*/
    padding: 50px;
    margin: 30px 0;
}



/*search results: card styling*/
.customcard {
    margin: 10px;
    cursor: pointer;
    transition: transform .5s;
}
.customcard:hover {
    transform: scale(1.1,1.1);
}
.customcard button {
    font-size: 11px;
    color: #ff7369 ;
    padding: 3px;
    border: 1px solid #ff7369 ;
    border-radius: 3px;
    background: none;
}
.smalltext{
    font-size: 11px;
}
.card {
    border-color: #ccc;
}


/*Blog Post Styling (read.php)*/
.blogimg {
    width: 100%;
}


.post img {
    width:100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.curses {
    color: #e73c7e;
}
.propic {
    height: auto;
    max-width: 50px;
    border-radius: 100px;
}

.newComment {
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}
.commentArea {
    max-height: 300px;
}







/*form styling*/
.textarea {
    height: 500px !important;
}



/*featured post styling*/





.footer {
    background-color: #ddd;
    color: #333;
}
hr.footer {
    background-color: #999;
}
.footer.spacer {
    padding: 10px;
}